body {
    font-family: Comic Sans MS;
}

header {
    font-weight: bold;
}

#game {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

footer {
    font-size: 14px;
}

h3 {
    color: green;
    text-align: center;
    font-size: 30px;
}